* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5vw;
}

p {
  font-size: 2vw;
  line-height: 1.6;
}
.hero {
  height: 100vh;
  background: rgb(255, 132, 153);
  color: white;
}

.card-style{
  border: 5px solid gainsboro;
  margin: 5px;
  color: white;
  height: 100vh; 
  background-color: #1a1a2e;
}

.box-yellow{
  background-color: yellow;
  width: 25%;
}

.box-green{
  background-color: green;
  width: 25%;
}

.box-blue{
  background-color: blue;
  width: 25%;
}

.box-red{
  background-color: red;
  width: 25%;
}

.inline{
  display: inline-flex;
}

/* Complete challenge down here */




